body {
  margin: 0; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

.nav {
  width: 100%;
  height: 100px;
  position: fixed; }
  .nav .nav__menu {
    width: 1170px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #505369;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    .nav .nav__menu .nav__hamburger {
      position: absolute;
      right: 30px;
      top: 34px;
      display: none;
      background-color: transparent;
      border: none;
      cursor: pointer; }
      .nav .nav__menu .nav__hamburger .fa {
        font-size: 26px;
        color: #ffffff; }
    .nav .nav__menu .menu__list {
      list-style: none;
      display: flex; }
      .nav .nav__menu .menu__list a {
        text-decoration: none;
        color: #ffffff;
        opacity: 0.6;
        font-family: Raleway;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        margin-left: 50px;
        transition: opacity 0.3s; }
        .nav .nav__menu .menu__list a:focus, .nav .nav__menu .menu__list a:hover {
          opacity: 1; }

@media (max-width: 1180px) {
  .nav .nav__menu {
    width: 100%;
    justify-content: space-around; } }

@media (max-width: 880px) {
  .nav .nav__menu {
    justify-content: center; }
    .nav .nav__menu .nav__hamburger {
      display: block; }
    .nav .nav__menu .menu__list {
      display: block;
      position: absolute;
      margin: 0;
      padding: 0;
      background-color: #505369;
      text-align: center;
      top: 100px;
      width: 100%;
      overflow: hidden;
      height: 0;
      transition: height 0.5s;
      left: 0; }
      .nav .nav__menu .menu__list a {
        opacity: 1; }
    .nav .nav__menu .menu__list.active {
      height: 190px; } }

.header {
  width: 100%;
  height: 750px;
  background-image: url("imgs/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .header .header__title {
    font-size: 55px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Open Sans;
    text-align: center;
    margin: 0; }
  .header .header__desc {
    font-size: 19px;
    color: #ffffff;
    font-family: Raleway;
    text-align: center; }
  .header .header__button {
    height: 46px;
    width: 200px;
    background-color: #e84545;
    font-family: Raleway;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 50px; }
    .header .header__button:focus, .header .header__button:hover {
      background-color: #c62323; }

@media (max-width: 435px) {
  .header {
    height: 900px; } }
